<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
<title>edit</title>
</head>
<body>
    <div class="container">
        <h1 class="my-5">edit</h1>
        <form method="post" th:object="${editForm.entity}">
            <table>
                <tr>
                    <th class="align-middle">Id</th>
					<td><input type="text" name="pkid" th:field="*{pkid}" readonly="readonly"></td>
                </tr>
                <tr>
                    <th class="align-middle">Name</th>
					<td><input type="text" name="name" th:field="*{name}"></td>
                </tr>
                <tr>
                    <th>wins</th>
					<td><input type="text" name="wins" th:field="*{wins}"></td>
                </tr>

					<td><input type="hidden" name="best" th:field="*{best}"></td>
					<td><input type="hidden" name="size" th:field="*{size}"></td>


<!--
                <tr>
                    <th>best</th>
					<td><input type="text" name="best" th:value="*{best}"></td>
                </tr>
                <tr>
                    <th>size</th>
					<td><input type="text" name="size" th:value="*{size}"></td>
                </tr>
-->
            </table>

			<th:block th:if="${path} == 'create'">
				<input type="submit" name="mode" value="regist" th:formaction="@{/create}">
				<input type="submit" name="mode" value="back">
			</th:block>
			<th:block th:if="${path} == 'edit'">
				<input type="submit" name="mode" value="regist" th:formaction="@{/edit}">
				<input type="submit" name="mode" value="back">
			</th:block>
			<th:block th:if="${path} == 'sub_win'">
				<input type="submit" name="mode" value="close" onclick="window.close();">
			</th:block>
        </form>
    </div>
</body>
</html>
