<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
<script type="text/javascript">
<!--

function sub_win(url,pkid){

	var mapForm = document.createElement("form");
	mapForm.target = "Map";
	mapForm.method = "POST"; // or "post" if appropriate
	mapForm.action = "/sub_win";

	var mapInput = document.createElement("input");
	mapInput.type = "text";
	mapInput.name = "list_pkid";
	mapInput.value = pkid;
	mapForm.appendChild(mapInput);

	document.body.appendChild(mapForm);

	map = window.open("", "Map", "status=0,title=0,height=300,width=400,scrollbars=1");
	mapForm.submit();
	mapForm.remove();

}

function check_checkbox(){
//	alert("check");

	selectedCheck_all = document.body.querySelectorAll("input[id*='selectCheckboxs1']");
//	console.log(selectedCheck_all);
	var selectedCheck_all_count = 0;
	for (var item of selectedCheck_all) {
		if (item.checked == true) {
			selectedCheck_all_count = selectedCheck_all_count + 1;
		}
	}
	console.log(selectedCheck_all_count);
//	alert(selectedCheck_all_count);
	if (selectedCheck_all_count > 1) {
		document.body.querySelector("input[value='edit']").disabled = true;
	} else {
		document.body.querySelector("input[value='edit']").disabled = false;
	}

}

function checkbox_all_click(){
	var temp_selectedCheck = document.body.querySelectorAll("input[name*='selectCheckboxs']")
	if (document.body.querySelector("input[name='checkbox_all']").checked) {
		temp_selectedCheck.forEach(detail_selectedCheck => detail_selectedCheck.checked = true);
	} else{
		temp_selectedCheck.forEach(detail_selectedCheck => detail_selectedCheck.checked = false);
	}
}
// -->
</script>
</head>

<body>

<form method="post" enctype="multipart/form-data" th:object="${mainForm}">

<table border=1>
<tr>
	<th>
		<input type="checkbox" name="checkbox_all" onclick="checkbox_all_click();">
	</th>
	<th>Id</th>
	<th>Name</th>
	<th>wins</th>
	<th>best</th>
	<th>size</th>
</tr>

<tr th:each="list, stat : *{mainFormList}">
	<td>
		<input type="checkbox" name="selectedCheck" th:value="*{mainFormList[__${stat.index}__].entity.pkid}" th:field="*{mainFormList[__${stat.index}__].selectCheckboxs}" onclick="check_checkbox();"/>
	</td>
	<td th:text="*{mainFormList[__${stat.index}__].entity.pkid}"</td>
	<td th:text="*{mainFormList[__${stat.index}__].entity.name}"</td>
	<td th:text="*{mainFormList[__${stat.index}__].entity.wins}"</td>
	<td th:text="*{mainFormList[__${stat.index}__].entity.best}"</td>
	<td th:text="*{mainFormList[__${stat.index}__].entity.size}"</td>
	<td><a th:attr="href='javascript:sub_win(\'sub_win.html\','+*{mainFormList[__${stat.index}__].entity.pkid}+');'" name="sub_win" />sub_win</a></td>
</tr>
</table>

	<input type="submit" name="mode" value="create" th:formaction="@{/create}">
	<input type="submit" name="mode" value="edit" th:formaction="@{/edit}">
	<input type="submit" name="mode" value="delete" th:formaction="@{/delete}">
<br>
	<input type="submit" name="mode" value="download" th:formaction="@{/csv_download}">
	<input type="submit" name="mode" value="upload" th:formaction="@{/csv_upload}">
	<input type="file" th:field="*{mainForm_file}">
</form>
</body>

</html>

